mixin video(video)
    a(href=`/videos/${video.id}`).mid-mixin
        div.mid-mixin__thumb(style=`background-image:url(${video.thumbUrl})`)
        div.mid-mixin__info
            h2.mid-mixin__title #{video.title}
            p.mid-mixin__meta 조회수 #{video.meta.views}회 • #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}
            div.mid-mixin__author
                img(src=video.author.avatarUrl).mid-mixin__avatar
                span #{video.author.nickname || user.nickname}
            p.mid-mixin__description #{video.description}