mixin video(video)
    a(href=`/videos/${video.id}`)
        img(src="/"+video.thumbUrl, width="240", height="135")
        h1 제목 : #{video.title}
        h1 저자 : #{video.author.nickname}
        h1 조회수 : #{video.meta.views}회
        h1 날짜: #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}