mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        img.video-mixin__thumb(src="/"+video.thumbUrl)
        div.video-mixin__info
            div.video-mixin__img
                if (video.author.avatarUrl.startsWith("http"))
                    img(src=video.author.avatarUrl).video-mixin__avatar
                else if (video.author.avatarUrl.startsWith("uploads"))
                    img(src= "/" + video.author.avatarUrl).video-mixin__avatar
            div.video-mixin__details
                h1.video-mixin__title #{video.title}
                div.video-mixin__meta
                    h2
                    | #{video.author.nickname || user.nickname}
                    h2
                    | #{video.meta.views}회
                    |  • 
                    | #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}