mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl})`)
        div.video-mixin__info
            img(src=video.author.avatarUrl, data-id=video.author.id).video-mixin__avatar
            div.video-mixin__details
                h2.video-mixin__title #{video.title}
                span.video-mixin__author #{video.author.nickname || user.nickname}
                p.video-mixin__meta 조회수 #{video.meta.views}회 • #{moment(video.createdAt).fromNow()}