extends base-with-nav

block content
    div.container
        if errorMsg
            div.error-msg=errorMsg
        h1.title 동영상 수정
        form(method="POST", enctype="multipart/form-data").video-form
            video(src=video.fileUrl, controls, autoplay)
            hr

            label(for="thumb") 썸네일
            img(src=video.thumbUrl).thumbnailPreview.preview
            input(type="file", name="thumb", id="thumb", accept=".png, .jpg, .jepg")

            label(for="title") 제목
            input(name="title", id="title", placeholder="동영상의 제목을 입력해주세요." type="text", required, maxLength="100", value=video.title)

            label(for="description") 설명
            textarea(name="description", id="description", placeholder="동영상에 대한 설명을 적어주세요." , required, minLength="2", wrap="hard") #{video.description}

            label(for="hashtags") 해쉬태그
            input(name="hashtags", id="hashtags", placeholder="해쉬태그를 콤마(,)로 구분해서 입력해주세요." type="text", required, minLength="1", value=video.hashtags.join())

            button(type="submit") 동영상 수정

block scripts
    script(src="/static/js/preview.js")