extends base-with-nav
include mixins/mid-video

block content
    div.container
        h1.profile__title 기본 정보
        div.profile__user
            div.profile__user-avatar
                img(src=user.avatarUrl)
            div.profile__user-info
                h1.profile__user-name #{user.nickname}
                div.profile__user-meta
                    if(user.socialOnly===true)
                        span 소셜 로그인
                    else
                        span 일반 로그인
        h1.profile__title My 동영상 (#{user.videos.length})
        div.profile__videos
            each video in user.videos.reverse()
                +video(video)
            else
                span 동영상이 존재하지 않습니다.
        h1.profile__title My 댓글 (#{user.comments.length})
        ul.profile__comments
            each comment in user.comments.reverse()
                li
                    a(href=`/videos/${comment.video._id}`).profile__comment
                        div.profile__comment-col
                            div.profile__comment-date 날짜 : #{comment.createdAt.toLocaleDateString()}
                            div.profile__comment-title
                                span 동영상 :
                                span "#{comment.video.title}"
                            div.profile__comment-text 댓글 : #{comment.text}
                        div.profile__comment-col.profile__comment-icon
                            i.fas.fa-angle-right
                    
