div.video__row
    div.video__row-info
        ul.video__hashtags
            each hashtag in video.hashtags
                li.video__hashtag #{hashtag}
        h2.video__title #{video.title}
        p.video__meta 조회수 #{video.meta.views}회 • #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}
    div.video__row-btns
        button(type="button").video__row-btn.tooltip-target
            i.fas.fa-heart
            span.tooltip 좋아요
        button(type="button").video__row-btn.tooltip-target
                i.fas.fa-share
                span.tooltip 공유
        if String(video.author._id) === String(loggedInUser._id)
            a(href=`${video._id}/edit`).video__row-btn.tooltip-target
                i.fas.fa-pen
                span.tooltip 수정
            a(href=`${video._id}/delete`).video__row-btn.tooltip-target
                i.fas.fa-trash
                span.tooltip 삭제
hr

div.video__row
    div.video__row-info
        a(href=`/users/${video.author._id}`).video__profile
            img(src=video.author.avatarUrl).video__avatar
            span.video__author #{video.author.nickname}
    div.video__row-btns
        unless String(video.author._id) === String(loggedInUser._id)
            button(type="button").video__row-btn#subscribeBtn 구독

p.video__description #{video.description}