div.comment__count
    span 댓글 
    strong#commentsCount #{video.comments.length}
    span 개
div.comment__mixin
    if loggedIn
        img(src=loggedInUser.avatarUrl).comment__avatar
    else
        img(src="/static/img/default.jpg").comment__avatar
    form#commentForm.comment__contents
        input(placeholder=loggedIn? "댓글 추가..." : "로그인 후 이용 가능합니다.", data-user-id=loggedInUser._id)#commentInput
        div.comment__form-btns
            button(type="button")#commentCancel 취소
            button(type="submit") 댓글
ul#commentList
    each comment in video.comments.reverse()
        li(data-id=comment._id).comment__mixin
            a(href=`/users/${comment.author.id}`)
                img(src=comment.author.avatarUrl).comment__avatar
            div.comment__contents
                div.comment__meta
                    a(href=`/users/${comment.author.id}`).comment__author #{comment.author.nickname}
                    span.comment__date #{moment(comment.createdAt).fromNow()}
                p.comment__text #{comment.text}
                div.comment__btns
                    button.comment__like.tooltip-target
                        i.fas.fa-thumbs-up
                        span.tooltip 좋아요
                    button.comment__like.tooltip-target
                        i.fas.fa-thumbs-down
                        span.tooltip 싫어요
                    if String(comment.author._id) === String(loggedInUser._id)
                        button.comment__delete.tooltip-target
                            i.fas.fa-trash-can
                            span.tooltip 삭제